<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ExpressDao">
    <insert id="addExpress" parameterType="model.ExpressInfo">
        INSERT INTO express_info (name, express, message, remark, address, station, phone)
            VALUE (#{name}, #{express}, #{message}, #{remark}, #{address}, #{station}, #{phone})
    </insert>
    <select id="getExpress">

    </select>


    <resultMap id="AllExpressList" type="model.ExpressInfo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="express" column="express"/>
        <result property="message" column="message"/>
        <result property="remark" column="remark"/>
        <result property="address" column="address"/>
        <result property="station" column="station"/>
        <result property="phone" column="phone"/>
        <result property="user_id" column="user_id"/>
    </resultMap>


    <select id="allExpressList" resultMap="AllExpressList">
        SELECT *
        FROM express_info
    </select>


    <select id="getExpressByStation" parameterType="integer">
        SELECT *
        FROM express_info
        WHERE station = #{station}
    </select>


    <select id="getExpressByUser" parameterType="model.User">
        SELECT *
        FROM express_info
        WHERE user_id = #{userId}
    </select>


</mapper>